/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* reset css default values in each browser */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: arial;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* customized css styles */
#page_wrapper{
	width: 90%;
	margin: 50px auto;
	margin-bottom: 0px;
}

#nav_bar{
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background: black;
	position: fixed;
	box-shadow: 1px 1px 2px 1px gray;
}

#nav_bar ul{
	float: right;
	margin-right: 5%;
}

#nav_bar ul li{
	float: left;
	border-left: 1px solid gray;
	display: inline;
}

#nav_bar ul li a{
	color: white;
	font-size: 24px;
	font-family: arial;
	text-decoration: none;
	padding: 13px;
	display: block;
}

#nav_bar ul li a:hover{
	color: white;
	background: gray;
}

#header{
	width: 100%;
	border-bottom: 3px solid black; 
}

#header h1{
	color: black;
	font-size: 36px;
	font-family: arial;
	padding: 20px 0px;
}

#content {
	margin: 20px 0px;
}

#content h2{
	color: black;
	font-size: 28px;
	font-family: arial;
	margin: 30px 0px;
}

#content h3{
	color: black;
	font-size: 24px;
	font-family: arial;
	margin: 30px 0px 15px 0px;
}

#content #notice {
	font-weight: bold;
	color: green;
}

#content a{
	color: #008CBA;
	text-decoration: none;
}

#content a:hover{
	color: black;
	text-decoration: underline;
}

#content ul li{
	margin-top: 10px;
}

#content p{
	margin: 15px 0px;
}

#content table td, th{
	padding: 10px 15px 10px 0px;
}

#content table th{
	font-weight: bold;
	text-align: center;
}

#content form textarea{
	width: 50%;
	min-width: 400px;
	height: 300px;
	margin-bottom: 20px;
	border-radius: 5px;
	color: black;
	font-size: 20px;
	padding: 10px;
}

#content form fieldset{
	border: 2px solid lightgray;
	margin-top: 20px;
	padding: 20px;
	padding-bottom: 0px;
	border-radius: 5px;
}

#content form fieldset legend{
	padding: 0px 10px;
	font-size: 26px;
}

#content form select{
	height: 35px;
	margin-top: 5px;
	width: 500px;
	margin-top: 5px;
	font-size: 20px;
	padding: 5px;
}

#content form .field{
	display: flex;
	margin-bottom: 20px;
	width: 100%;
}

#content form .field label{
	font-weight: bold;
	padding: 10px 10px 10px 0px; 
	font-size: 22px;
} 

#content form .field input{
	flex: 1;
	border-radius: 5px;
	color: black;
	font-size: 20px;
	padding: 5px;
	height: 30px;
}

#content form .field .param_value_input_field{
	float: left;
	width: 80%;
}

#content form .field .valueDataTypeCheckboxWrapper{
	width: 20%;
	float: right;
}

#content form .field .valueDataTypeCheckboxWrapper .valueDataTypeCheckbox{
	float: left;
	width: 20%;
	appearance: none;
	background-color: #008CBA;
	margin: 0px 9px;
	border-radius: 3px;
	display: block;
	height: 40px;
}

#content form .field .valueDataTypeCheckboxWrapper label {
	float: left;
	display: block;
}


#content form input[type=submit]{
	background: #008CBA;
	margin: 20px 0px;
	padding: 20px 40px;
	color: white;
	text-decoration: none;
	display: inline-block;;
	font-size: 18px;
	border-radius: 5px;
	border: none;
}

#content form input[type=submit]:hover{
	box-shadow: 2px 2px 6px 2px lightgray;
}

#content form .add_field_button{
	background: #008CBA;
	margin: 10px 0px;
	padding: 15px 30px;
	color: white;
	text-decoration: none;
	display: inline-block;;
	font-size: 18px;
	border-radius: 5px;
}

#content form .toggle_fields_button{
	margin-top: 30px;
	border: none;
	display: block;
}

#content form .add_field_button:hover{
	box-shadow: 2px 2px 6px 2px lightgray;
}

#content #projects_components td, #content #projects_components th{
	border: 2px solid gray;
}

#content #projects_components ul{
	margin: 10px 25px 10px 40px;
	list-style: square;
}

#content #projects_components ul li{
	margin: 20px 0px;
	font-size: 20px;
}

#content hr{
	width: 100%;
	height: 2px;
	background: black;
	border: none;
}